<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Uyonoh's Blog</title>
</head>
<body>
    <header class="container flex">
        <div class="logo">
            <h2><a href="/">DAILY JOURNAL</a></h2>
        </div>

        <nav>
            <ul class="nav flex no-style">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/compose">Compose</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>
            </ul>
        </nav>
    </header>