@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */

@custom-variant dark (&:where(.dark, .dark *));

.markdown p { @apply font-medium leading-relaxed py-2 break-all; }
.markdown h1 { @apply font-bold     text-2xl    leading-tight py-4; }
.markdown h2 { @apply font-semibold text-xl     leading-tight pt-4 pb-1; }
.markdown h3 { @apply font-semibold text-lg     leading-tight pt-4 pb-1; }
.markdown h4 { @apply font-medium   text-base   leading-tight pt-4 pb-1; }