<%- include("partials/header") -%>

    <section class="container post fill-height">
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
    </section>

<%- include("partials/footer") -%>