body {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.container {
    padding: .5rem 5rem;
}

.no-deco {
    text-decoration: none;
}

.no-style {
    list-style: none;

    * {
        text-decoration: none;
    }
}

.fill-height {
    min-height: 80vh;
}

a {
    color: #575757;
}

a:hover {
    color: #20bd74;
}

header {
    background-color: #f0f0f0;
}




footer {
    background-color: #20bd74;
    text-align: center;
    /* position: sticky;
    bottom: 0; */
    padding: .1rem;
}